@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* TYPOGRAPHY */
  --FF-type: "Hanken Grotesk", sans-serif;

  --FW-light: 500;
  --FW-normal: 700;
  --FW-bold: 800;

  --FS-normal: 1.125rem;

  /* COLORS */
  --Primary-Light-Red: hsl(0, 100%, 67%);
  --Primary-Orangey-Yellow: hsl(39, 100%, 56%);
  --Primary-Green-Teal: hsl(166, 100%, 37%);
  --Primary-Cobalt-Blue: hsl(234, 85%, 45%);

  /* Background */
  --Gradients-Light-Slate-Blue: hsl(252, 100%, 67%);
  --Gradients-Light-Royal-Blue: hsl(241, 81%, 54%);

  /* Circle */
  --Circle-Violet-Blue: hsla(256, 72%, 46%, 1);
  --Circle-Persian-Blue: hsla(241, 72%, 46%, 0);

  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-Pale-Blue: hsl(221, 100%, 96%);
  --Neutral-Light-Lavender: hsl(241, 100%, 89%);
  --Neutral-DarkGray-Blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 38.75em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 31.875em) {
  html {
    font-size: 40%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  min-height: 150vh;
  font-family: var(--FF-type, sans-serif);
  background-color: var(--Neutral-Pale-Blue);
}
@media (max-width: 25.625em) {
  .container {
    justify-content: flex-start;
    margin-inline: auto;
    margin-bottom: 10rem;
  }
}

main {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  min-height: 25rem;
  border-radius: 2rem;
}
@media (max-width: 25.625em) {
  main {
    max-width: 35rem;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
/*=====================================
=          Left Side Styles           =
=====================================*/

.left-side {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 3.2rem 4.8rem 4.8rem;
  background-image: linear-gradient(
    to bottom,
    var(--Gradients-Light-Slate-Blue),
    var(--Gradients-Light-Royal-Blue)
  );
  border-radius: inherit;
}

.heading-secondary {
  font-size: calc(var(--FS-normal) + 0.8rem);
  font-weight: var(--FW-normal);
  color: var(--Neutral-Light-Lavender);
  text-align: center;
  margin-bottom: 0.8rem;
}

.left-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}

.percent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(
    to bottom,
    var(--Circle-Violet-Blue),
    var(--Circle-Persian-Blue)
  );
  border-radius: 50%;
}
.numerator {
  font-size: calc(var(--FS-normal) + 3.5rem);
  font-weight: var(--FW-bold);
  color: var(--Neutral-Pale-Blue);
}
.denominator {
  font-size: calc(var(--FS-normal) + 0.5rem);
  font-weight: var(--FW-bold);
  color: var(--Gradients-Light-Slate-Blue);
}

.remark {
  font-size: calc(var(--FS-normal) + 1rem);
  font-weight: var(--FW-normal);
  color: var(--Neutral-Pale-Blue);
}
.comment {
  font-size: calc(var(--FS-normal) + 0.3rem);
  font-weight: var(--FW-normal);
  color: var(--Neutral-Light-Lavender);
  text-align: center;
}

/*=====================================
=          Right Side Styles           =
=====================================*/
.right-side {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2.4rem 2.4rem;
  flex-basis: 50%;
  border-radius: inherit;
}

.right-side-heading {
  color: var(--Neutral-DarkGray-Blue);
  text-align: left;
}

.score-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex-basis: 70%;
  font-size: calc(var(--FS-normal) + 0.5rem);
  list-style: none;
}
.list-item {
  display: flex;
  justify-content: space-between;
}
.reaction {
  color: var(--Primary-Light-Red);
  background-image: url(assets/images/icon-reaction.svg);
}
.memory {
  color: var(--Primary-Orangey-Yellow);
  background-image: url(assets/images/icon-memory.svg);
}
.verbal {
  color: var(--Primary-Green-Teal);
  background-image: url(assets/images/icon-verbal.svg);
}
.visual {
  color: var(--Primary-Cobalt-Blue);
  background-image: url(assets/images/icon-visual.svg);
}
.reaction,
.memory,
.verbal,
.visual {
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 2rem, 2rem;
  padding-left: 3.5rem;
  font-weight: var(--FW-normal);
}

.mark {
  color: hsl(208, 8%, 59%);
  padding-left: 0.4rem;
}
.mark strong {
  color: var(--Neutral-DarkGray-Blue);
  font-weight: var(--FW-normal);
}

.btn {
  flex-basis: 4rem;
  font-family: var(--FF-type, sans-serif);
  font-size: calc(var(--FS-normal) + 0.5rem);
  color: var(--Neutral-White);
  text-align: center;
  padding: 0.7rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--Neutral-DarkGray-Blue);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--Gradients-Light-Royal-Blue);
}

/*=====================================
=            Footer Styles            =
=====================================*/

.mentor {
  font-size: calc(var(--FS-normal) + 0.2vw);
  font-weight: var(--FW-light);
}
.coder {
  font-size: calc(var(--FS-normal) + 0.6vw);
  font-style: italic;
  font-weight: var(--FW-normal);
}
.attribution a:link {
  color: var(--Neutral-DarkGray-Blue);
  text-decoration: none;
  font-weight: var(--FW-bold);
}
.coder a:link {
  text-decoration: underline;
  line-height: 1.6;
}
.attribution a:visited {
  color: var(--Primary-Orangey-Yellow);
}
.attribution a:hover {
  color: var(--Primary-Green-Teal);
  text-decoration: underline;
}
.coder a:hover {
  text-decoration: none;
}
.attribution a:active {
  color: var(--Primary-Light-Red);
}
